<div class="infoBand row">
    <img class="groupPicture" src="{{service.band.picture}}" alt="band">
    <div class="col">
        <div class="row">
            <div class="nameVideo">
                <h2>{{service.band.name}}</h2>
                <h2 class="iconYT" (click)=showModal()><i class="fab fa-youtube"></i></h2>
            </div>
            <img class="logo" src="{{service.band.logo}}" alt="logo">
        </div>
        <div class="row">
            <p class="description">{{service.band.description}}</p>
        </div>
        <div class="infoFooter">
            <p class="year" >since {{service.band.year}}</p>
            <p class="year" *ngIf="service.band.isActive">This band still active</p>
        </div>
    </div>

    <!-- Modal for embed video -->
    <div [style.display]="isModal ? 'block' : 'none'" class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{service.band.name}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="showModal()"></button>
            </div>
            <div class="modal-body">
                <iframe class="embed-responsive-item video" [src]="service.band.video | safe: 'resourceUrl'" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
</div>