body{
    background-color: #fafafa;
}
.card{
    flex-direction: row;
    margin: 2rem;
    align-items: center;
    width: 700px;
}
.card-img-top{
    width: 200px;
    padding: 20px;
}

.card-text{
    font-size: 40px;
    text-align: center;
}

.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.botones button{
    width: 45px;
    height: 45px;
    margin: 5px;
}